// FIRA CODE

@font-face {
  font-family: 'code';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/fira/fira-code-v17-latin-300.woff2) format('woff2');
}
@font-face {
  font-family: 'code';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/fira/fira-code-v17-latin-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'code';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/fira/fira-code-v17-latin-500.woff2) format('woff2');
}
@font-face {
  font-family: 'code';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/fira/fira-code-v17-latin-600.woff2) format('woff2');
}
@font-face {
  font-family: 'code';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/fira/fira-code-v17-latin-700.woff2) format('woff2');
}

// PROZA LIBRE

@font-face {
  font-family: 'regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/proza/ProzaLibre-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/proza/ProzaLibre-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: normal;
  font-weight: 500;
  src: url(fonts/proza/ProzaLibre-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: italic;
  font-weight: 500;
  src: url(fonts/proza/ProzaLibre-MediumItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/proza/ProzaLibre-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: italic;
  font-weight: 600;
  src: url(fonts/proza/ProzaLibre-SemiBoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/proza/ProzaLibre-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/proza/ProzaLibre-BoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: normal;
  font-weight: 800;
  src: url(fonts/proza/ProzaLibre-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'regular';
  font-style: italic;
  font-weight: 800;
  src: url(fonts/proza/ProzaLibre-ExtraBoldItalic.woff2) format('woff2');
}

// YUSEI MAGIC

@font-face {
  font-family: 'title';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/yusei_magic/YuseiMagic-Regular.ttf) format('truetype');
}