body {
    background-color: $base;
    color: $text;
    font-family: 'regular';
    font-size: 18px;
    width: 100%;
}

h1 {
    font-family: 'header';
    font-weight: bold;
}

h2 {
    font-family: 'header';
    font-weight: bold;
    color: $subtext0;
}

h3 {
    font-family: 'header';
    font-weight: bold;
    color: $subtext1;
}

a {
    color: $blue;
    &:hover {
        color: $text;
    }
}

.header {
    background-color: $pink;
    padding-top: 25px;
    padding-bottom: 40px;

    --a: 90deg; /* the angle of the spikes*/
    --s: 40px;  /* the size of spikes*/
    --mask: conic-gradient(from calc(var(--a)/-2) at bottom, #0000,#000 1deg var(--a),#0000 calc(var(--a) + 1deg)) 50%/var(--s);
    -webkit-mask: var(--mask);
    mask: var(--mask);

    > div {
        max-width: 80ch;
        margin: 0 auto;
        color: $base;
        font-family: 'header';
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        margin-right: 20px;

        h1 {
            color: $base;
            font-weight: bold;
            font-size: 2.5em;
            line-height: 1em;
            margin-block: 0 0;
        }
    
        h2 {
            color: $base;
            font-weight: bold;
            margin-block: 0 0;
        }
    }

    .links {
        flex: 1;
        color: $base;
    }
}

.page {
    //background-color: $base;
    padding: 25px;
}

.content {
    max-width: 80ch;
    font-weight: normal;
    margin: 0 auto;
    p {
        margin-block: 1em 1em;

        code {
            background-color: $crust;
            font-size: 0.9em;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 4px;
            //border: 1px dotted $text;
        }
    }
}

.footer {
    border-top: 10px dotted $pink;
    
    font-size: 1.1em;
    //font-weight: 500;
    color: $subtext1;
    font-style: italic;
    text-align: center;

    > div {
        max-width: 80ch;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    i {
        font-size: 1.2em;
        margin-left: 5px;
    }
}

pre:has(code) {
    //background-color: $base !important;
    font-size: 16px;
    border: 2px solid $surface0;
    border-radius: 5px;
    padding: 10px;

    overflow-x: auto;
}

h4 + pre {
    border-top-left-radius: 0;
    margin-top: -3px;
}

h4 {
    font-family: 'code' !important;
    font-size: 0.8em;
    font-weight: 600;

    background-color: $surface0;
    padding: 0 20px 0 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin: 0;
    margin-block: 0 0;
    display: inline-block;
}

.about {
    display: flex;
    margin-bottom: 1em;
    align-items: center;

    div:first-child {
        margin-right: 10px;
    }

    .blurb {
        flex: 1;
        font-family: 'header';
        //font-size: 0.95em;
        font-size: 1.2em;
    }

    .portrait {
        width: 200px;
        height: 200px;
        > img {
            border-radius: 50%;
        }
    }
}

.projects {
    display: flex;
    height: 200px;
    margin-top: 1em;
    margin-bottom: 2em;

    a:not(:first-child) {
        margin-left: 10px;
    }

    a:hover {
        opacity: 0.75;
        transition: opacity 0.25s, background 0.25s;
    }

    img {
        border-radius: 20px;
    }
}

blockquote {
    background-color: $crust;
    padding: 1px 20px 1px 20px;
    border-radius: 10px;
    margin-block: 1em 1em;

    //font-size: 1.05em;
    font-style: italic;

    > h1 {
        font-family: 'regular';
        font-size: 1em;
        font-weight: normal;
        text-align: right;

        margin-block: 1em 1em;
    }
}