{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="tag-page">
    <div class="tag-nav">
        {% set tags = get_taxonomy(kind="tags") %}
        {% for tag in tags.items %}
            <div class="tag-link">
                {% if tag.name == term.name %}
                    <span><i class="ri-price-tag-3-line"></i> {{ tag.name }}</span>
                {% else %}
                    <a href="/tags/{{ tag.name }}"><i class="ri-price-tag-3-fill"></i> {{ tag.name }}</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="tag-posts">
        {{ macros::paged_posts(permalink="/tags/"~term.name~"/") }}
    </div>
</div>

{% endblock content %}