{%- extends "base.html" -%}

{%- block content -%}

<h1>Page Not Found!</h1>

<p>
    It looks like you are trying to access a page that does not exist.
</p>
<p>
    If you got here via a broken link on this website, you can file an issue on the
    <a href="https://github.com/chevyray/chevyray.dev" target="_blank">website's repository</a>.
    Posts on the site also have links directly to their source code at the bottom of the page,
    so you can also click that to submit a fix directly. It will look like this:
</p>
<blockquote>
    <p>
        If you find errors or have suggestions, you can visit the <u><i class="ri-github-fill"></i> source code</u> for this post
        directly to file an issue or submit a pull request.
    </p>
</blockquote>


{%- endblock content -%}