<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%- if section -%}
        {%- if section.title == "Home" -%}
            {%- set title = config.title -%}
            {%- set desc = config.description -%}
        {%- else -%}
            {%- set title = config.title ~ " | " ~ section.title -%}
            {%- set desc = section.description -%}
        {%- endif -%}
        {%- set url = section.permalink -%}
    {%- elif page -%}
        {%- set title = config.title ~ " | " ~ page.title -%}
        {%- set desc = page.description -%}
        {%- set url = page.permalink -%}
    {%- else -%}
        {%- set title = config.title -%}
        {%- set desc = config.description -%}
        {%- set url = config.base_url -%}
    {%- endif -%}

    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:url" content="{{ url | safe }}">
    <meta property="og:image" content="{{ config.base_url | safe }}/img/og_preview.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ChevyRay" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ desc }}" />
    <meta name="twitter:image:src" content="{{ config.base_url | safe }}/img/og_preview.png" />

    <meta name="keywords" content="Rust, Programming, Game Development, Worldbuilding, Art">
    <meta name="author" content="Chevy Ray Johnston">
    <meta name="viewport" content="width=device-width" >
    
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff"> 

    <!-- RSS feed -->
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Chevy Ray" />

    <!-- stylesheets -->
    {% set hash = get_hash(path="public/latte.css", sha_type=256, base64=true) %}
    <link rel="stylesheet" href="/latte.css?{{ hash }}" id="sheet-link">
</head>
<body>
    <div class="header">
        <div class="column">
            <div class="title">
                <div class="main">
                    <a href="/">CHEVY RAY</a>
                </div>
                <div class="sub">
                    Rust &amp; Game Development
                </div>
            </div>
            <div class="menu">
                <div class="links">
                    <a href="/blog" class="link">
                        <i class="ri-edit-2-line"></i>
                        <div class="text">Blog</div>
                    </a>
                    <a href="/archive" class="link">
                        <i class="ri-archive-line"></i>
                        <div class="text">Archive</div>
                    </a>
                    <a href="/ask" class="link">
                        <i class="ri-question-line"></i>
                        <div class="text">Q&amp;A</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="column content">
            {%- block content -%}
            {%- endblock content -%}
        </div>
    </div>
    <div class="footer">
        <div class="column">
            <p>Copyright 2024 &copy; Chevy Ray Johnston</p>
            <p>
                <a href="https://github.com/chevyray" target="_blank"><i class="ri-github-fill"></i> github</a>
                <a href="https://x.com/chevyray" target="_blank"><i class="ri-twitter-fill"></i> twitter</a>
                <a href="mailto:happytrash@gmail.com" target="_blank"><i class="ri-mail-fill"></i> email</a>
            </p>
            <br>
            <p>Powered by <a href="https://www.getzola.org/" target="_blank">Zola</a></p>
            <p>Color theme by <a href="https://catppuccin.com/" target="_blank">Catppuccin</a></p>
            <p>
                ~
                <a style="font-family:'title';font-style:normal;" href="https://github.com/tanukifont/YuseiMagic" target="_blank">Yusei Magic</a>
                •
                <a style="font-style:normal;" href="https://github.com/jasperdewaard/Proza-Libre" target="_blank">Proza Libre</a>
                •
                <a style="font-family:'code';font-style:normal;" href="https://github.com/tonsky/FiraCode" target="_blank">Fira Code</a>
                ~
            </p>
            <p>
                Icons by <a href="https://remixicon.com/" target="_blank"><i class="ri-remixicon-fill"></i> Remix Icon</a>
            </p>
            <br>
            <!--p class="theme">
                <i style="opacity:75%;" class="ri-sun-fill"></i>
                <a href="#"><i class="ri-moon-fill"></i></a>
                <a href="#"><i class="ri-contrast-2-fill"></i></a>
            </p-->
        </div>
    </div>
</body>
{% set hash = get_hash(path="static/js/date-formatter.js", sha_type=256, base64=true) %}
<script src="/js/date-formatter.js?{{ hash }}"></script>
</html>