<div class="header">
    <div class="column">
        <div class="title">
            <a href="/"><h1>CHEVY RAY</h1></a>
            <h2>Rust &amp; Game Development</h2>
        </div>
        <div class="links">
            <div class="link">
                <a href="/blog">Blog Posts <i class="ri-edit-2-line"></i></a>
            </div>
            <div class="link">
                <a href="/archive">Archive <i class="ri-archive-line"></i></a>
            </div>
        </div>
    </div>
</div>