{% extends "base.html" %}

{% block content %}

<div class="about">
    <div class="blurb">
        <div>
            <p>
                Welcome! I'm a long-time indie game developer, worldbuilder, and pixel font designer.
                This is where I write about game development and Rust, with the intent to
                help others learn.
            </p>
            <p>
                Some cool things I've made:
            </p>
        </div>
    </div>
    <div class="portrait">
        <img src="img/portrait.png" alt="Cartoon illustration of Chevy, looking pink & black and flamboyant.">
    </div>
</div>
<div class="projects">
    <a href="https://www.humblegames.com/games/ikenfell/" target="_blank">
        <img src="img/ikenfell_thumb.png">
    </a>
    <a href="https://chevyray.itch.io/" target="_blank">
        <img src="img/fonts_thumb.png">
    </a>
    <a href="https://chevyray.itch.io/noise1" target="_blank">
        <img src="img/noise1_thumb.png">
    </a>
</div>

{{ section.content | safe }}

{% endblock content %}