{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="post-top">
    <h1>{{ page.title | safe }}</h1>
    {{ macros::post_meta(page = page) }}
</div>

<hr>

{% if page.toc and page.extra.has_toc %}
<div class="toc">
    <p class="toc-title">Table of Contents:</p>
    <p>
        <ul>
        {% for h1 in page.toc %}
            <li><a href="{{ h1.permalink | safe }}">{{ h1.title }}</a></li>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        </ul>
    </p>
</div>
    <hr>
{% endif %}

{{ page.content | safe }}

<div class="prev-next">
    {% if page.lower %}
        <a class="prev" href="{{ page.lower.permalink }}">
            <div>
                <i class="ri-arrow-left-line"></i>
            </div>
            <div>
                <div class="upper">
                    Prev Post
                </div>
                <div class="lower">
                    {{ page.lower.title }}
                </div>
            </div>
        </a>
    {% endif %}

    <div class="mid"></div>

    {% if page.higher %}
        <a class="next" href="{{ page.higher.permalink }}">
            <div>
                <div class="upper">
                    Next Post
                </div>
                <div class="lower">
                    {{ page.higher.title }}
                </div>
            </div>
            <div>
                <i class="ri-arrow-right-line"></i>
            </div>
        </a>
    {% endif %}
</div>

{% include "feedback.html" %}

{% endblock content %}